* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.profile-card {
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    outline: 2px solid red;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

h2 {
    text-transform: capitalize;
    letter-spacing: 2px;
    text-decoration: dotted;
}

p {
    text-transform: capitalize;
    letter-spacing: 2px;
    text-decoration: dotted;
}