/* sandbox responsive breakpoint */

/*
xs  >=480px
sm  >=576px
md  >=768px
lg  >=991px
xl  >=1199px
2xl >=1499px
*/

@media (max-width : 1499px) {}

@media (max-width : 1199px) {

    /* common css */
    .container {
        max-width: 85%;
        margin: auto;
        padding: 15px;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 32px;
    }

    /* hero sections  */
    .hero-text p {
        padding: 0px 50px;
    }

    /* service section */
    .service-content {
        margin-left: 100px;
        max-width: 390px;
    }

    /* community section */
    .community-card .box {
        padding: 30px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .community-card .box-text {
        padding-left: 0px;
        padding-top: 10px;
    }

    .community-text {
        max-width: 360px;
        margin-right: 100px;
    }

    /* control section */
    .control-text {
        max-width: 100%;
    }

    /* .control-img{
        max-width: 400px;
    } */

    /* aboutus section */
    .aboutus-text {
        max-width: 390px;
    }

    /* newsletter section */
    .letter-bg {
        margin-top: 100px;
    }

    .letter-text p {
        max-width: 400px;
    }

    /* footer section */
    .need-help,
    .learn-more,
    .contectus {
        padding: 0px 15px;
    }

    .joinus p {
        max-width: 280px;
    }
}


@media (max-width : 992px) {

    /* common css */
    .container {
        max-width: 80%;
        padding: 0px;
    }

    h1 {
        font-size: 42px;
    }

    h3 {
        font-size: 34px;
    }

    /* hero sections  */
    .navbar {
        padding: 10px 30px;
        margin: 0px;
    }

    .nav-item-links {
        display: none;
    }

    .mobile-btn {
        display: flex;
        margin-left: -200px;
        padding-bottom: 5px;
    }

    .hero-main {
        margin-top: 100px;
    }

    .hero-text p {
        padding: 0px;
        font-size: 22px;
    }


    /* service section */
    .service-main {
        flex-wrap: wrap;
    }

    .service-card {
        max-width: 100%;
    }

    .service-card-2 {
        margin-top: 30px;
    }

    .service-content {
        margin-left: 0px;
        padding: 20px;
        max-width: 100%;
    }

    /* community section */
    .community-main {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .community-text {
        order: 2;
        max-width: 100%;
        margin: 50px 0px 0px;
    }

    .community-card {
        display: block;
        order: 1;
        margin-top: 80px;
    }

    /* control section */
    .control-main {
        flex-wrap: wrap;
    }

    .control-text {
        margin-left: 0px;
        padding: 20px;
        max-width: 100%;
    }

    .control-main img {
        width: 100%;
        margin-bottom: 30px;
    }


    /* aboutus section */

    /* newsletter section */

    /* footer section */
}

@media (max-width : 768px) {}

@media (max-width : 576px) {}

@media (max-width : 480px) {}