/* sandbox responsive breakpoint */

/*

xs  >=480px
sm  >=576px
md  >=768px
lg  >=991px
xl  >=1199px
2xl >=1499px

*/

@media (max-width:2560px) {
    .mobile-btn {
        display: none;
    }
}

@media (max-width:1499px) {}

@media (max-width:1199px) {
    .container {
        padding: 20px;
    }

    h3 {
        font-size: 34px;
    }

    .nav-item-links li {
        padding: 15px;
    }

    .service-card {
        max-width: 480px;
    }

    .community-card .box {
        padding: 30px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .community-card .box-text {
        padding-left: 0px;
        padding-top: 10px;
    }

    .control-text {
        max-width: 1000px;
    }

    .control-main img {
        width: 500px;
    }

    .aboutus-text {
        max-width: 430px;
        padding: 20px;
    }

    .letter-bg {
        margin: 25px;
    }

    .letter-main {
        margin: 30px;
    }

    .letter-text p {
        max-width: 400px;
    }

    .footer-main {
        padding: 15px;
    }

    .joinus p {
        max-width: 310px;
    }

    .footer-main {
        padding: 10px;
        margin: 100px 0px 80px  0px;
        align-items: flex-start;
    }


    .need-help {
        padding: 0px 20px;
    }

    .learn-more {
        padding: 0px 20px;
    }

    .contectus {
        padding: 0px 20px;
    }
}

@media (max-width:991px) {
    h1 {
        margin-top: 50px;
        font-size: 40px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 32px;
    }

    .navbar {
        margin-top: 30px;
        padding-top: 10px;
    }

    .nav-item {
        display: none;
    }

    .mobile-btn {
        display: flex;
        margin-left: -320px;
        padding-bottom: 5px;
    }

    .hero-text p {
        padding: 0px;
        font-size: 22px;
    }

    .service-main {
        flex-wrap: wrap;
    }

    .service-card {
        max-width: 100%;
    }

    .service-card-2 {
        margin-top: 30px;
    }

    .service-content {
        margin-left: 0px;
        padding: 20px;
        width: 100%;
    }

    .community-main {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .community-text {
        order: 2;
        padding: 20px;
        max-width: 100%;
    }

    .community-card {
        display: block;
        order: 1;
    }

    .project-main {
        margin: 30px 0px;
    }

    .control-main {
        flex-wrap: wrap;
    }

    .control-text {
        margin-left: 0px;
        padding: 20px;
    }

    .control-main img {
        width: 100%;
        margin-bottom: 30px;
    }

    .aboutus-main {
        flex-wrap: wrap;
    }

    .aboutus-text {
        margin-top: 20px;
        order: 2;
        max-width: 100%;
    }

    .aboutus-img {
        order: 1;
    }

    .letter-main {
        flex-wrap: wrap;
        padding: 45px;
    }

    .letter-text p {
        max-width: 100%;
    }

    .input-email {
        width: 500px;
    }

}


@media (max-width:768px) {
    .container {
        padding: 0px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 30px;
    }

    .card-body {
        padding: 0px;
    }

    .aboutus-text {
        margin-right: 0px;
    }

    .letter-main {
        padding: 25px 10px;
    }

    .letter-text p {
        max-width: 100%;
    }
}

@media (max-width:576px) {
    h1 {
        font-size: 33px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 28px;
    }

    .nav-icon-links {
        display: flex;
        flex-wrap: wrap;
    }

    .mobile-btn {
        margin-left: 0px;
    }

    .hero-main {
        margin: 0px;
    }

    .hero {
        margin: 20px;
    }

    .hero-text p {
        padding: 0px;
    }

    .service-card {
        flex-wrap: wrap;
    }

    .project-img :nth-child(2) {
        display: none;
    }

    .input-email {
        width: 220px;
    }
}

@media (max-width:480px) {

    h3 {
        font-size: 28px;
    }

    .letter-main {
        padding: 25px 0px;
    }

    .input-email {
        width: 230px;
    }
}